$default-font: "BasisGrotesquePro", sans-serif;
$default-font-2: "RoadRadio", sans-serif;
$wc: #F6F4EB;
$grey-color: #4B5563;
$text-color: #818A98;
$bg-color: #F6F4EB;
$accent-color: #0F4272;
$accent-color-2: #310101;