extends /../index.pug

block variable
  -
    var title_page = 'about'
    var id_page = 'id-page-about'

block meta
  title= title_page
  meta(name='description', content='')

block header
  +header

block content
  section.home-location.about-hero
    .home-location__block.container 
      p.section-title ASTRID — клубний житловий комплекс бізнес-класу, створений для людей, які цінують тишу, приватність і якість.
      .home-location__subblock 
        h1 Про проєкт
        .slogan__wrap 
          .slogan__img-wrap 
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="74" viewBox="0 0 70 74" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.125 9.9011L10.6151 10.2016C11.0696 9.60511 11.0074 9.71475 11.7239 9.63595C12.575 9.54407 12.5051 9.85296 13.0058 9.20228C14.1929 9.93015 14.2454 9.79348 15.1283 9.38376L19.2918 11.7123C20.4694 12.4343 20.822 12.8746 21.955 13.5694C22.0784 12.9356 22.4508 13.5517 21.6667 12.9442C22.1169 12.2043 21.8081 11.8499 21.916 11.0764L22.0723 8.95171C22.0772 8.90778 22.0759 8.8525 22.0808 8.80863C22.09 8.72875 22.0863 8.56245 22.1313 8.38073C22.2749 7.79978 22.4203 7.81219 22.6006 7.29318C22.7903 6.75149 22.6675 7.04689 22.6992 6.85094C23.1466 4.24789 24.1286 4.40075 25.0355 3.34076L29.0923 0.615585L31.0266 0.0147705C31.0651 0.00894928 31.12 0.00486755 31.1608 0.00234985L31.8526 0C32.6264 0.0353546 33.733 0.680099 34.3265 1.24881C35.0661 1.95807 34.1352 1.16093 34.899 2.08187C35.2249 2.47293 35.3796 2.47708 35.6794 2.8679C35.7059 2.90343 35.7347 2.94922 35.7602 2.98631L36.2105 3.71159L37.512 2.78598C37.5503 2.76606 37.5993 2.74301 37.6345 2.7211L38.8476 2.00548C39.4249 1.78918 39.3542 2.05631 39.8224 1.44457C40.7219 1.89823 41.076 2.17101 41.6203 1.42693L45.6846 3.91877C45.5992 4.41828 45.5927 4.01947 45.7648 4.45494L46.0699 4.93758C46.8837 5.86956 47.1921 6.03059 47.8086 7.1578L48.216 8.03229C48.4032 8.52207 48.2514 8.08912 48.3627 8.55255C48.8116 10.4005 48.4974 10.0407 48.6408 11.4069L48.7088 13.1985C48.6237 14.1646 48.3187 14.3929 48.3986 15.3606L48.4445 15.7664C48.4397 16.3491 48.09 16.651 47.8146 18.1452C47.6259 19.1951 45.9544 20.9085 46.3717 21.9751C46.5782 22.5049 46.0683 21.9855 46.8446 22.5555C47.3296 21.7942 47.2499 22.0328 47.892 21.7315L50.248 20.5738C50.2851 20.5561 50.3351 20.5312 50.3693 20.5108C50.4069 20.4922 50.4548 20.4637 50.493 20.444C50.6948 20.3349 50.6418 20.3432 50.8583 20.2315L51.3558 20.0028C51.3925 19.9853 51.4449 19.9639 51.4819 19.9463C51.519 19.9282 51.5696 19.9026 51.607 19.8843C52.1094 19.6331 52.176 19.4159 52.811 19.7153C53.1195 19.2368 53.3788 19.1553 53.8785 18.966C54.6082 18.686 54.2827 18.4668 55.1053 18.8816L55.4032 18.3918C56.1228 18.7317 55.9987 18.5336 56.6421 18.3522L57.1581 18.2008C57.1975 18.1934 57.2515 18.1765 57.2901 18.1704L58.473 18.4815L58.7708 17.992C59.5887 18.4934 60.0542 18.6191 60.894 18.752C61.0383 18.7747 61.153 18.7946 61.3271 18.8236C62.4872 19.0169 61.3903 18.4777 63.6567 19.8672C64.3909 20.3174 63.5784 19.8249 64.005 20.3391L64.8199 21.2542C65.3543 21.9336 66.4111 22.4974 66.8234 23.1332C67.3022 23.8711 66.5884 23.4571 67.9019 24.2625L67.6041 24.7519C68.2004 25.2141 67.8666 24.8462 68.0634 25.3358C68.3399 26.0234 68.1196 25.7721 68.0181 26.321C67.9373 26.757 67.9398 27.0086 68.237 27.3807L66.847 29.6656C66.3325 29.5796 65.954 29.9081 65.6012 30.2459C66.4462 30.8666 65.6849 30.7564 67.0152 31.5721C67.8841 32.1053 68.1635 32.1257 68.6537 32.8442C69.0304 33.3959 69.4455 33.582 69.5542 34.2948C69.6425 34.8714 69.369 34.9827 69.6883 35.5146C69.8162 35.7273 69.6098 35.5537 70 35.8562C69.8321 36.1322 69.6705 36.3568 69.5569 36.6592C69.3776 37.1371 69.5292 37.4604 69.3483 37.9619C69.1427 38.5324 68.8049 38.8148 68.6521 39.3828C67.9566 41.9692 67.5581 41.2502 66.518 42.6891C65.7609 43.7368 64.9226 44.3269 63.7149 44.8591C63.5224 44.9442 63.154 45.0649 62.9437 45.1096L62.1461 45.2492C59.4921 45.8295 60.4861 45.6945 57.6989 45.7711C57.0206 45.7898 57.1686 45.9503 56.4829 45.9002L51.9294 45.4058C51.8879 45.4036 51.8335 45.4119 51.792 45.4097L50.4777 45.1308C50.0224 45.0784 50.5209 45.3564 49.6293 45.0594C49.1595 44.9029 49.2572 44.8084 48.7068 44.6824L48.2801 44.6362C47.6577 44.5932 47.679 44.5431 47.0947 44.8916C47.9544 45.5578 47.1463 44.9693 47.5742 45.4703L47.8867 45.8123C47.9217 45.8509 47.9633 45.8852 47.9972 45.9244L51.4092 50.9393C52.1388 52.0635 51.8863 52.3106 52.9121 52.9395L52.6142 53.4293C53.4982 54.1144 53.0414 55.3565 54.0958 56.1301L53.7979 56.62C54.4071 57.0918 54.6484 59.5152 54.661 60.3055L54.6304 61.2865C54.6128 62.261 54.3801 63.473 54.0026 64.3602L53.7186 65.403C53.4697 66.279 52.7212 67.4296 52.1366 68.1385L51.3356 68.8398C51.1342 69.051 51.0931 69.1881 50.9096 69.3726L50.4338 69.6994C50.3981 69.7201 50.3442 69.7318 50.3084 69.7533L48.3571 71.4337L45.5864 70.9063C44.0607 70.3464 44.0823 69.6301 43.1826 68.9333L40.5021 73.3397C40.0413 73.3111 39.8885 73.2867 39.4345 73.5094L38.4332 73.9549C37.5964 74.1289 37.4596 73.748 36.7043 73.681C35.7573 73.5965 35.7671 73.7354 34.7852 73.1918L33.5834 72.8055C31.9538 72.3525 29.9418 71.0627 28.8726 69.7619C28.8427 69.7247 28.8117 69.6824 28.7779 69.6446L28.312 69.2037C27.583 68.4913 27.978 68.7686 27.6487 68.1105C27.3382 67.4858 27.0388 67.7339 27.4538 66.9079C26.8042 66.4315 26.9338 66.003 26.7464 65.2695L26.6208 64.3265C26.5799 63.5821 26.9744 64.0183 26.2041 63.4529C26.5015 62.8203 26.2032 62.1614 26.0867 61.5342C25.9517 60.8078 25.754 60.2852 26.1063 59.584L25.6161 59.2834C25.9257 58.6669 25.7766 57.5543 25.3374 57.5437C24.5106 57.5238 24.2362 58.8655 23.2986 59.4369C23.2629 59.4597 23.2137 59.4831 23.1776 59.5066L20.8031 61.7362C19.9857 62.5484 18.6086 62.5565 17.9087 63.5205L17.4185 63.22C16.844 63.9706 17.4001 63.5303 16.8341 63.6636C16.2531 63.7997 16.9866 63.9515 16.1105 63.5385L15.8128 64.028C15.3476 63.8086 15.2994 63.9093 14.8131 63.9042L11.3393 63.2935C9.97566 63.1576 10.8405 63.4527 8.86775 62.2349C8.00362 61.7015 7.13315 61.1714 6.26753 60.6406C6.59584 59.9356 6.38601 60.3022 6.3905 59.9141L6.37304 59.6411C6.37148 59.6006 6.36204 59.5444 6.3606 59.5036C6.33998 58.9773 6.26687 58.9035 6.54491 58.3458L6.05799 58.0472C6.35481 57.5593 6.27882 57.7273 6.3841 57.2741C6.39534 57.2126 6.40998 57.0448 6.41985 56.9855L6.62968 55.8217C6.74547 55.0781 6.35182 55.7326 7.13279 54.4488L5.99337 53.7502C5.71013 53.9788 5.88792 53.8948 5.63481 53.9804C4.87745 54.2342 4.11835 53.4349 3.39417 53.3107C2.79283 53.2075 2.88591 53.4137 2.37347 53.0995C1.9693 52.8517 1.23794 51.6979 1.25976 50.8646C1.27865 50.2015 1.08992 50.0664 0.863173 49.57C0.623213 49.0451 0.808952 48.6536 0.83669 48.0477C0.83681 48.0044 0.835674 47.9488 0.838783 47.9077L0.826049 46.9375C0.820071 46.897 0.809969 46.8416 0.803513 46.8021C0.796937 46.7626 0.781932 46.7081 0.775237 46.6689C0.77165 46.6317 0.752161 46.5776 0.745585 46.5381C0.683593 46.0798 0.670619 46.3956 0.727351 45.9863C0.778224 45.6153 0.914884 45.2039 0.977714 44.8133L2.15061 41.3194C2.64213 40.6262 2.51832 41.0597 3.07625 40.4801C3.4457 40.0954 3.68978 39.6511 3.93447 39.4357L5.84105 38.1476C6.59237 37.8247 6.15705 38.3896 6.77482 37.4243L7.2618 37.7228C7.69838 37.1272 7.74423 37.2961 8.21829 36.5168C5.72627 34.9889 6.32348 35.803 5.74427 35.4478L3.14405 33.8536C2.51073 33.4653 3.24711 33.6913 2.48616 33.0388C1.71678 32.3784 1.51598 32.3207 0.97873 31.4583C0.726934 31.0534 0.525173 30.9038 0 30.5818C0.369086 29.975 0.384987 29.8054 0.355814 29.1062L0.279833 28.4266C0.142577 27.6683 0.292687 27.0049 0.291013 26.3396C0.287845 26.1293 0.273557 26.239 0.308529 25.9157C0.418166 24.9669 0.129006 24.7383 0.203493 23.8544C0.207976 23.8111 0.21557 23.7556 0.220233 23.712C0.340213 22.5235 0.263873 21.6721 1.18671 20.5573L1.8969 20.0435C3.27987 19.3792 4.05122 19.8855 4.96257 18.3873L4.47566 18.0887L4.87272 17.436C3.96974 16.7367 4.8946 17.2348 4.94063 15.7584L4.89771 14.0906C5.52882 13.4483 5.46868 13.3676 6.05363 12.5497C6.43856 12.0031 6.81446 11.9239 7.35619 11.6296C7.39116 11.6081 7.44168 11.5824 7.47659 11.5609L9.06203 10.657C9.0988 10.6397 9.15063 10.6192 9.18739 10.6019C9.75423 10.3309 9.71633 10.4651 10.125 9.9011Z" fill="#F6F4EB"/>
            </svg>
          p.slogan__text Гармонія архітектури, природи й щоденного комфорту
    .home-location__img-block
      img(src="../src/shared/images/about/hero.jpg", alt="hero about")
  section.home-advantages.about-advantages.container
    h2 ASTRID — продумані архітектурні рішення для щоденного комфорту
    p Кожна лінія має значення. Архітектурні рішення ASTRID підтримують баланс світла, тиші та функціональності в межах одного простору.
    ul.home-advantages__list 
      li.advantages-item  
        .advantages-item__img-wrap
          img(src="../src/shared/images/about/advantages/img.jpg", alt="Astrid advantage")   
        p.advantages-item__text-wrap  Закрита територія з цілодобовою охороною 
      li.advantages-item  
        .advantages-item__img-wrap
          img(src="../src/shared/images/about/advantages/img-1.jpg", alt="Astrid advantage")  
        p.advantages-item__text-wrap  Пішохідні алеї
      li.advantages-item  
        .advantages-item__img-wrap
          img(src="../src/shared/images/about/advantages/img-2.jpg", alt="Astrid advantage")   
        p.advantages-item__text-wrap  Зелені зони та скандинавські сади
      li.advantages-item  
        .advantages-item__img-wrap
          img(src="../src/shared/images/about/advantages/img-3.jpg", alt="Astrid advantage")   
        p.advantages-item__text-wrap  Сучасні дитячі майданчики
      li.advantages-item  
        .advantages-item__img-wrap
          img(src="../src/shared/images/about/advantages/img-4.jpg", alt="Astrid advantage")   
        p.advantages-item__text-wrap  Підземний паркінг з ліфтами та укриттям
  section.about-comfort.container
    h2 ASTRID — це простори, що поєднують спільне життя і приватний комфорт
    .swiper-comfort 
      .swiper-mob-btns 
          .swiper-button-prev(data-comfort-prev) 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M4.98108 11.5127L4.49963 12.0254L4.98108 12.5381L12.4811 20.5381L13.5748 19.5127L7.25842 12.7754L20.528 12.7754L20.528 11.2754L7.25842 11.2754L13.5748 4.53809L12.4811 3.5127L4.98108 11.5127Z" fill="#F6F4EB"/>
            </svg>
          .swiper-button-next(data-comfort-next)  
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M19.0189 12.4873L19.5004 11.9746L19.0189 11.4619L11.5189 3.46191L10.4252 4.48731L16.7416 11.2246L3.47205 11.2246L3.47205 12.7246L16.7416 12.7246L10.4252 19.4619L11.5189 20.4873L19.0189 12.4873Z" fill="#F6F4EB"/>
            </svg>
      .swiper-wrapper 
        .swiper-slide(data-title="Простір для життя без поспіху" data-text="Клубний житловий комплекс бізнес-класу серед сосен, де кожна деталь продумана для вашого комфорту.")
          img(src="../src/shared/images/about/comfort/1.jpg", alt="Comfort 1")
          .img-overlay
        .swiper-slide(data-title="Тайтл 2" data-text="Текст 2")
          img(src="../src/shared/images/about/comfort/2.jpg", alt="Comfort 2")
          .img-overlay
        .swiper-slide(data-title="Тайтл 3" data-text="Текст 3")
          img(src="../src/shared/images/about/comfort/3.jpg", alt="Comfort 3")
          .img-overlay
        .swiper-slide(data-title="Тайтл 4" data-text="Текст 4")
          img(src="../src/shared/images/about/comfort/4.jpg", alt="Comfort 4")
          .img-overlay
    .about-comfort__text-block 
      .about-comfort__counter
      .about-comfort__text-container
        .swiper-laptop-btns 
          .swiper-button-prev(data-comfort-laptop-prev) 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M4.98108 11.5127L4.49963 12.0254L4.98108 12.5381L12.4811 20.5381L13.5748 19.5127L7.25842 12.7754L20.528 12.7754L20.528 11.2754L7.25842 11.2754L13.5748 4.53809L12.4811 3.5127L4.98108 11.5127Z" fill="#F6F4EB"/>
            </svg>
          .swiper-button-next(data-comfort-laptop-next)  
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M19.0189 12.4873L19.5004 11.9746L19.0189 11.4619L11.5189 3.46191L10.4252 4.48731L16.7416 11.2246L3.47205 11.2246L3.47205 12.7246L16.7416 12.7246L10.4252 19.4619L11.5189 20.4873L19.0189 12.4873Z" fill="#F6F4EB"/>
            </svg>
        .about-comfort__text-wrap 
          h3 Простір для життя без поспіху
          p Клубний житловий комплекс бізнес-класу серед сосен, де кожна деталь продумана для вашого комфорту.
  section.about-infra.container
    .section-title Кожен елемент інфраструктури ASTRID створений для вашого комфорту та натхнення
    .home-location__subblock 
        h2 Інфраструктура
        .slogan__wrap 
          .slogan__img-wrap 
            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="64" viewBox="0 0 70 64" fill="none">
              <path d="M30.1021 20.0229C26.5908 20.0229 26.3119 17.4224 26.3119 17.4224C32.5549 16.5368 35.0007 15.5409 35.0007 15.5409C35.0007 15.5409 39.7356 20.1125 41.363 24.0642C37.9057 21.2956 33.6148 20.0229 30.1021 20.0229ZM67.8288 38.5664C67.8844 35.8586 69.6657 28.1219 66.2709 25.3588C62.8761 22.5959 57.4198 20.8521 51.8885 22.8534C49.1777 22.7997 48.6436 22.3176 48.6436 22.3176C48.6436 22.3176 69.5061 15.1457 69.7919 8.25741C64.6116 8.68164 60.6675 7.50262 59.0513 7.17207C57.435 6.84151 47.2798 11.6402 45.364 19.4389C44.4053 23.3424 43.7963 26.1481 43.7963 26.1481C43.7963 26.1481 42.2592 24.3837 41.0869 22.3259C39.9132 20.2695 37.4604 16.1497 34.6178 13.8799C31.7752 11.6113 29.0436 9.06591 27.4259 7.15548C25.8097 5.24648 13.2933 -5.60172 0.570204 3.75202C3.4003 5.8553 7.2002 11.8413 11.6507 13.6581C16.6673 15.7062 20.2909 16.2599 20.2909 16.2599C20.2909 16.2599 12.7065 17.0864 6.46633 24.396C3.67919 27.6604 0 27.6604 0 27.6604C6.35533 29.3766 15.051 26.6095 19.3434 23.5104C23.6358 20.4114 33.8007 19.5478 38.7978 22.8479C42.5553 25.3287 43.7192 27.7998 44.0657 28.8741L38.9626 32.1222C31.6788 24.1494 24.4276 24.3479 18.357 31.5804C12.1141 39.0182 14.5077 49.8395 15.8435 53.8735C17.1793 57.9075 19.7953 66.4728 29.1461 60.0627C32.8196 65.1467 38.7751 65.644 46.3448 59.5654C53.9145 53.4868 56.1675 44.769 52.5787 38.8981C49.1756 33.3309 44.2288 32.566 41.5257 32.6175L48.8495 27.6802L48.3486 26.1481L45.6104 27.8909C44.2244 26.071 44.8675 23.1781 46.2893 22.9829C47.9028 22.7625 51.0756 23.2046 51.5209 23.3149C50.2404 28.3436 53.8585 32.7636 56.8649 33.0405C59.8143 43.0429 70 45.6943 70 45.6943C70 45.6943 67.7734 41.2744 67.8288 38.5664Z" fill="white"/>
            </svg>
          p.slogan__text Кожен елемент інфраструктури ASTRID створений для комфорту
    .about-infra__img-wrap 
      img(src="../src/shared/images/about/infra.jpg", alt="Infrastructure")
    ul.about-infra__list 
      li Прогулянкові зони та ландшафтний дизайн
      li Скандинавські городи
      li Дитячі майданчики HAGS та Berliner Seilfabrik
      li Лапомийки для домашніх улюбленців
      li Гостьові санвузли
      li Підземні смітники
      li Підземний паркінг з укриттям та санвузлами
  section.about-commercial.container
    h2 У ASTRID передбачені комерційні простори для щоденних потреб мешканців
    .swiper-commercial 
      .swiper-mob-btns 
          .swiper-button-prev(data-commercial-prev) 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M4.98108 11.5127L4.49963 12.0254L4.98108 12.5381L12.4811 20.5381L13.5748 19.5127L7.25842 12.7754L20.528 12.7754L20.528 11.2754L7.25842 11.2754L13.5748 4.53809L12.4811 3.5127L4.98108 11.5127Z" fill="#F6F4EB"/>
            </svg>
          .swiper-button-next(data-commercial-next)  
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M19.0189 12.4873L19.5004 11.9746L19.0189 11.4619L11.5189 3.46191L10.4252 4.48731L16.7416 11.2246L3.47205 11.2246L3.47205 12.7246L16.7416 12.7246L10.4252 19.4619L11.5189 20.4873L19.0189 12.4873Z" fill="#F6F4EB"/>
            </svg>
      .swiper-wrapper 
        .swiper-slide(data-title="Кафе та ресторан" data-text="Кафе та ресторан з прямим виходом з лобі створюють атмосферу життя без поспіху — для щоденних зустрічей, спокійних розмов і моментів для себе.")
          img(src="../src/shared/images/about/comfort/1.jpg", alt="Comfort 1")
          .img-overlay
        .swiper-slide(data-title="Тайтл 2" data-text="Текст 2")
          img(src="../src/shared/images/about/comfort/2.jpg", alt="Comfort 2")
          .img-overlay
        .swiper-slide(data-title="Тайтл 3" data-text="Текст 3")
          img(src="../src/shared/images/about/comfort/3.jpg", alt="Comfort 3")
          .img-overlay
        .swiper-slide(data-title="Тайтл 4" data-text="Текст 4")
          img(src="../src/shared/images/about/comfort/4.jpg", alt="Comfort 4")
          .img-overlay
    .about-commercial__text-block 
      .about-commercial__counter
      .about-commercial__text-container
        .swiper-laptop-btns 
          .swiper-button-prev(data-commercial-laptop-prev) 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M4.98108 11.5127L4.49963 12.0254L4.98108 12.5381L12.4811 20.5381L13.5748 19.5127L7.25842 12.7754L20.528 12.7754L20.528 11.2754L7.25842 11.2754L13.5748 4.53809L12.4811 3.5127L4.98108 11.5127Z" fill="#F6F4EB"/>
            </svg>
          .swiper-button-next(data-commercial-laptop-next)  
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M19.0189 12.4873L19.5004 11.9746L19.0189 11.4619L11.5189 3.46191L10.4252 4.48731L16.7416 11.2246L3.47205 11.2246L3.47205 12.7246L16.7416 12.7246L10.4252 19.4619L11.5189 20.4873L19.0189 12.4873Z" fill="#F6F4EB"/>
            </svg>
        .about-commercial__text-wrap 
          h3 Простір для життя без поспіху
          p Клубний житловий комплекс бізнес-класу серед сосен, де кожна деталь продумана для вашого комфорту.
block footer
  +footer 

block scripts
  script(type="module" src="/src/pages/about/about.js")
