extends /../index.pug

block variable
  -
    var title_page = 'single-news'
    var id_page = 'id-page-single-news'

block meta
  title= title_page
  meta(name='description', content='')

block header
  +header() 

block content
  section.single-news.container
    .single-news__container
      .sticky-wrap
        a.btn-back
          .btn-back__svg-wrap
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M1.63452 5.59929L1.31421 5.94109L1.63452 6.28288L5.63452 10.5495L6.36499 9.86589L3.15405 6.44109L9.99976 6.44109L9.99976 5.44109L3.15405 5.44109L6.36499 2.01628L5.63452 1.33269L1.63452 5.59929Z" fill="#0F4272"/>
            </svg>
          span Назад
        h1 Інвестори відзначають стабільний дохід і високий попит навіть поза сезоном
      
      .single-news__content-wrap
        .single-news__date-wrap 
          p 01.05.2025
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.31428 2.14078L2.42632 2.20575C2.53021 2.07678 2.51597 2.10049 2.67975 2.08345C2.8743 2.06358 2.85831 2.13037 2.97275 1.98968C3.24409 2.14706 3.2561 2.11751 3.45791 2.02892L4.40956 2.53239C4.67873 2.68849 4.75932 2.7837 5.0183 2.93392C5.0465 2.79689 5.13161 2.9301 4.9524 2.79874C5.05529 2.63876 4.98471 2.56214 5.00936 2.39489L5.04511 1.9355C5.04623 1.92601 5.04593 1.91405 5.04703 1.90457C5.04915 1.8873 5.0483 1.85134 5.05858 1.81205C5.09141 1.68644 5.12465 1.68912 5.16586 1.5769C5.20921 1.45978 5.18113 1.52365 5.18839 1.48128C5.29065 0.918463 5.5151 0.951513 5.72241 0.722325L6.64967 0.1331L7.09179 0.00319386C7.10059 0.00193501 7.11314 0.0010519 7.12247 0.000507355L7.2806 0C7.45747 0.0076437 7.71041 0.147049 7.84605 0.270013C8.01512 0.423367 7.80234 0.251014 7.97691 0.450134C8.0514 0.534688 8.08677 0.535585 8.15529 0.620087C8.16134 0.627769 8.16794 0.637669 8.17376 0.645688L8.27668 0.802506L8.57417 0.602375C8.58293 0.598066 8.59412 0.593082 8.60217 0.588346L8.87946 0.433616C9.01141 0.386849 8.99524 0.444608 9.10227 0.312341C9.30787 0.410428 9.38879 0.469406 9.51322 0.308526L10.4422 0.847302C10.4227 0.955304 10.4212 0.869075 10.4605 0.96323L10.5303 1.06759C10.7163 1.26909 10.7868 1.30391 10.9277 1.54763L11.0208 1.73671C11.0636 1.84261 11.0289 1.749 11.0543 1.8492C11.1569 2.24875 11.0851 2.17096 11.1179 2.46637L11.1334 2.85373C11.114 3.06261 11.0443 3.11199 11.0625 3.32121L11.073 3.40895C11.0719 3.53494 10.992 3.60021 10.9291 3.92328C10.8859 4.1503 10.5039 4.52076 10.5993 4.75137C10.6465 4.86591 10.5299 4.75363 10.7073 4.87685C10.8182 4.71226 10.8 4.76384 10.9468 4.6987L11.4853 4.44839C11.4937 4.44456 11.5052 4.43918 11.513 4.43478C11.5216 4.43075 11.5325 4.42458 11.5413 4.42033C11.5874 4.39674 11.5753 4.39852 11.6248 4.37438L11.7385 4.32492C11.7469 4.32116 11.7588 4.31651 11.7673 4.31271C11.7758 4.3088 11.7873 4.30326 11.7959 4.29931C11.9107 4.24499 11.9259 4.19803 12.0711 4.26276C12.1416 4.15931 12.2009 4.1417 12.3151 4.10075C12.4819 4.04022 12.4075 3.99282 12.5955 4.08251L12.6636 3.9766C12.8281 4.05009 12.7997 4.00726 12.9468 3.96803L13.0647 3.93531C13.0737 3.9337 13.0861 3.93005 13.0949 3.92873L13.3653 3.996L13.4333 3.89016C13.6203 3.99858 13.7267 4.02575 13.9186 4.05448C13.9516 4.05939 13.9778 4.06369 14.0176 4.06997C14.2828 4.11176 14.0321 3.99517 14.5501 4.29561C14.7179 4.39294 14.5322 4.28647 14.6297 4.39765L14.816 4.5955C14.9381 4.74241 15.1797 4.86429 15.2739 5.00178C15.3834 5.16132 15.2202 5.07181 15.5204 5.24594L15.4524 5.35176C15.5887 5.45169 15.5124 5.37216 15.5574 5.47801C15.6205 5.62668 15.5702 5.57234 15.547 5.69103C15.5285 5.7853 15.5291 5.83971 15.597 5.92016L15.2793 6.41418C15.1617 6.39559 15.0752 6.46662 14.9946 6.53965C15.1877 6.67386 15.0137 6.65004 15.3178 6.8264C15.5164 6.94168 15.5802 6.94609 15.6923 7.10146C15.7784 7.22074 15.8733 7.26098 15.8981 7.41509C15.9183 7.53977 15.8558 7.56383 15.9288 7.67882C15.958 7.72481 15.9108 7.68728 16 7.75268C15.9616 7.81236 15.9247 7.86093 15.8987 7.92631C15.8577 8.02965 15.8924 8.09954 15.851 8.20797C15.8041 8.33134 15.7268 8.39239 15.6919 8.5152C15.5329 9.07443 15.4418 8.91895 15.2041 9.23009C15.0311 9.4566 14.8395 9.5842 14.5634 9.69927C14.5194 9.71766 14.4352 9.74375 14.3871 9.75342L14.2048 9.78362C13.5982 9.90907 13.8254 9.87989 13.1883 9.89645C13.0333 9.90051 13.0671 9.93521 12.9104 9.92437L11.8696 9.81747C11.8601 9.81699 11.8477 9.81878 11.8382 9.81832L11.5378 9.75802C11.4337 9.74667 11.5476 9.80679 11.3438 9.74257C11.2365 9.70875 11.2588 9.68831 11.133 9.66106L11.0354 9.65107C10.8932 9.64177 10.8981 9.63095 10.7645 9.70629C10.961 9.85033 10.7763 9.72308 10.8741 9.83142L10.9455 9.90536C10.9535 9.9137 10.9631 9.92113 10.9708 9.9296L11.7507 11.0139C11.9175 11.257 11.8597 11.3104 12.0942 11.4464L12.0261 11.5523C12.2282 11.7004 12.1238 11.969 12.3648 12.1362L12.2967 12.2422C12.4359 12.3442 12.4911 12.8681 12.4939 13.039L12.487 13.2511C12.4829 13.4618 12.4297 13.7239 12.3434 13.9157L12.2785 14.1412C12.2216 14.3306 12.0506 14.5794 11.9169 14.7327L11.7339 14.8843C11.6878 14.9299 11.6784 14.9596 11.6365 14.9995L11.5277 15.0701C11.5196 15.0746 11.5072 15.0771 11.4991 15.0818L11.0531 15.4451L10.4198 15.3311C10.071 15.21 10.076 15.0552 9.87032 14.9045L9.25761 15.8572C9.1523 15.8511 9.11737 15.8458 9.0136 15.8939L8.78474 15.9903C8.59347 16.0279 8.56221 15.9455 8.38956 15.931C8.17309 15.9127 8.17535 15.9428 7.9509 15.8252L7.67621 15.7417C7.30372 15.6438 6.84384 15.3649 6.59944 15.0837C6.59263 15.0756 6.58554 15.0665 6.5778 15.0583L6.47132 14.963C6.3047 14.8089 6.39497 14.8689 6.3197 14.7266C6.24874 14.5915 6.1803 14.6452 6.27515 14.4666C6.12667 14.3636 6.15629 14.2709 6.11345 14.1123L6.08476 13.9084C6.07541 13.7475 6.16558 13.8418 5.9895 13.7195C6.0575 13.5828 5.9893 13.4403 5.96267 13.3047C5.93181 13.1476 5.88663 13.0346 5.96715 12.883L5.85512 12.818C5.92588 12.6847 5.89181 12.4442 5.7914 12.4419C5.60241 12.4376 5.53969 12.7277 5.3254 12.8512C5.31723 12.8562 5.30598 12.8612 5.29773 12.8663L4.755 13.3484C4.56816 13.524 4.25341 13.5257 4.09341 13.7342L3.98138 13.6692C3.85005 13.8315 3.97717 13.7363 3.84778 13.7651C3.715 13.7945 3.88266 13.8274 3.68241 13.7381L3.61435 13.8439C3.50801 13.7964 3.497 13.8182 3.38585 13.8171L2.59184 13.6851C2.28015 13.6557 2.47783 13.7195 2.02691 13.4562C1.8294 13.3409 1.63043 13.2262 1.43258 13.1115C1.50762 12.9591 1.45966 13.0383 1.46068 12.9544L1.45669 12.8954C1.45634 12.8866 1.45418 12.8745 1.45385 12.8656C1.44914 12.7518 1.43243 12.7359 1.49598 12.6153L1.38468 12.5507C1.45253 12.4452 1.43516 12.4816 1.45922 12.3836C1.46179 12.3703 1.46514 12.334 1.46739 12.3212L1.51535 12.0696C1.54182 11.9088 1.45184 12.0503 1.63035 11.7727L1.36991 11.6217C1.30517 11.6711 1.34581 11.6529 1.28796 11.6714C1.11484 11.7263 0.941337 11.5535 0.77581 11.5266C0.638362 11.5043 0.659637 11.5489 0.542508 11.481C0.450125 11.4274 0.282957 11.1779 0.287945 10.9978C0.292263 10.8544 0.249125 10.8252 0.197297 10.7178C0.142449 10.6043 0.184903 10.5197 0.191244 10.3887C0.191271 10.3793 0.191011 10.3673 0.191722 10.3584L0.188811 10.1486C0.187445 10.1399 0.185136 10.1279 0.18366 10.1194C0.182157 10.1108 0.178727 10.0991 0.177197 10.0906C0.176377 10.0825 0.171923 10.0708 0.17042 10.0623C0.15625 9.9632 0.153284 10.0315 0.166252 9.94299C0.17788 9.86277 0.209116 9.77381 0.223477 9.68936L0.491568 8.93392C0.603915 8.78405 0.575616 8.87777 0.703144 8.75244C0.787588 8.66928 0.843379 8.57321 0.899306 8.52664L1.3351 8.24813C1.50683 8.17832 1.40733 8.30045 1.54853 8.09173L1.65984 8.15629C1.75963 8.0275 1.77011 8.06402 1.87847 7.89553C1.30886 7.56518 1.44537 7.74119 1.31298 7.66439L0.718639 7.31969C0.573881 7.23573 0.742196 7.28461 0.568265 7.14351C0.392407 7.00074 0.346509 6.98825 0.22371 6.8018C0.166156 6.71425 0.12004 6.6819 0 6.61228C0.0843625 6.48109 0.0879971 6.4444 0.081329 6.29324L0.0639619 6.1463C0.032589 5.98233 0.0668999 5.83889 0.0665173 5.69505C0.0657931 5.64958 0.0625273 5.6733 0.0705208 5.6034C0.0955809 5.39826 0.0294871 5.34882 0.0465127 5.15771C0.0475375 5.14834 0.0492732 5.13634 0.050339 5.12692C0.077763 4.86994 0.0603137 4.68587 0.271247 4.44482L0.433578 4.33372C0.749684 4.1901 0.925992 4.29956 1.1343 3.97562L1.02301 3.91107L1.11377 3.76994C0.907368 3.61874 1.11877 3.72645 1.12929 3.40722L1.11948 3.04661C1.26373 2.90774 1.24998 2.8903 1.38369 2.71345C1.47167 2.59526 1.55759 2.57814 1.68142 2.51451C1.68941 2.50985 1.70096 2.5043 1.70894 2.49965L2.07132 2.30423C2.07973 2.30048 2.09157 2.29605 2.09998 2.2923C2.22954 2.23371 2.22088 2.26272 2.31428 2.14078Z" fill="#0F4272"/>
          </svg>
        .single-news__content 
          img(loading="lazy" src="/src/shared/images/about/infra.jpg", alt="news")
          h2 Шановні майбутні мешканці!
          p Компанія відкриває масштабний розпродаж квартир у вже майже проданих житлових комплексах. Це чудова нагода придбати житло у сучасних будинках, які вже заселені та мають сформовану інфраструктуру. Якщо ви давно мріяли про власну квартиру — зараз найкращий момент для вигідної покупки.
          h3 Чому варто діяти саме зараз:
          ol 
            li Це фінальний шанс придбати житло у популярних комплексах, де більшість квартир вже продані.
            li Тільки під час акції діють особливі знижки та ексклюзивні умови, які недоступні на старті продажів.
            li Наші житлові комплекси розташовані у районах з розвиненою інфраструктурою: школи, садочки, магазини, аптеки та зручна транспортна розв’язка поруч з домом.
            li Ми дбаємо про надійність та довговічність кожного будинку, використовуючи перевірені технології та матеріали.
            li У нас залишаються квартири різних форматів — від компактних однокімнатних до просторих сімейних рішень. Кожен знайде варіант під свої потреби.
          p Не упустіть свій шанс здійснити мрію про власне житло! Станьте часткою дружньої та гармонійної спільноти від "RIEL". Наші кваліфіковані консультанти з радістю допоможуть вам обрати ідеальний варіант житла, який відповідає всім вашим потребам.
          <iframe  src="https://www.youtube.com/embed/-PqHS9B4bHk?si=HwSye8zSG7ILLnTB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          h3 Останні акційні пропозиції по вигідній ціні!
          p Компанія відкриває масштабний розпродаж квартир у вже майже проданих житлових комплексах. Це чудова нагода придбати житло у сучасних будинках, які вже заселені та мають сформовану інфраструктуру. Якщо ви давно мріяли про власну квартиру — зараз найкращий момент для вигідної покупки.



    

      

block footer
  +footer()

block scripts
  script(type="module" src="/src/pages/single-news/single-news.js")
