mixin header
  header.header
    .header-bg
      a(href="/").logo-wrap 
        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="34" viewBox="0 0 63 34" fill="none">
          <path d="M3.2888 6.16789L5.00539 2.10232L6.77014 6.16789H3.2888ZM8.97779 6.82362C8.61196 5.99312 8.24707 5.15388 7.88218 4.30699C7.54517 3.52574 6.41902 0.861382 6.08972 0H5.00847C4.60697 0.967596 2.92297 4.82262 2.63121 5.47938C2.31542 6.19011 0.239753 10.7743 0 11.2986H1.4422C1.71462 10.2489 1.99578 9.36727 2.28369 8.65071C2.55132 7.98726 2.76507 7.46768 2.92485 7.0901H7.13597C7.33535 7.53529 7.57887 8.08772 7.8649 8.7492C8.17008 9.45418 8.46364 10.304 8.7477 11.2986H10.963C10.963 11.287 9.34268 7.65411 8.97779 6.82362Z" fill="#0F4272"/>
          <path d="M47.6705 19.0876C47.6657 18.541 47.6629 17.8959 47.6629 17.1533C47.6629 16.1693 47.6705 15.1939 47.687 14.2273C47.7033 13.2597 47.7389 12.2843 47.7938 11.3012H45.6328C45.6878 12.2843 45.7233 13.2597 45.7397 14.2273C45.7561 15.1939 45.7638 16.1693 45.7638 17.1533C45.7638 17.8959 45.7609 18.541 45.7561 19.0876C45.7504 19.6342 45.6062 22.3381 45.5947 22.6443H47.8372C47.8257 22.3381 47.6763 19.6342 47.6705 19.0876Z" fill="#0F4272"/>
          <path d="M36.2173 22.0679C36.0368 22.078 35.894 22.083 35.7887 22.083L35.4202 22.0808V17.8591H36.3827C36.6534 17.8591 36.9416 17.8794 37.2476 17.9194C37.5533 17.9597 37.8341 18.0502 38.0897 18.191C38.3454 18.3319 38.556 18.533 38.7214 18.7944C38.8868 19.056 38.9695 19.4079 38.9695 19.8504C38.9695 20.3734 38.8568 20.7833 38.6313 21.0798C38.4055 21.3766 38.1424 21.5953 37.8416 21.736C37.5409 21.877 37.2375 21.9649 36.9317 22C36.6258 22.0354 36.3877 22.058 36.2173 22.0679ZM39.8001 25.3653C39.0008 24.2942 37.9233 22.5661 37.9233 22.5661C38.1436 22.5232 38.4014 22.4641 38.6969 22.3889C39.0617 22.2961 39.4131 22.1458 39.7509 21.9381C40.0885 21.7306 40.3773 21.4463 40.617 21.0856C40.8566 20.725 40.9765 20.2497 40.9765 19.6595C40.9765 19.2662 40.9166 18.903 40.7968 18.5695C40.6768 18.2363 40.459 17.9441 40.1432 17.6925C40.0124 17.5834 39.8678 17.4851 39.7101 17.3975C39.5519 17.3101 39.3587 17.2392 39.1299 17.1844C38.9011 17.1299 38.6205 17.086 38.2883 17.0533C37.9558 17.0205 37.5447 17.0041 37.0544 17.0041C37.0154 17.0041 33.3539 16.9995 33.3539 16.9995C33.4079 17.9672 33.4426 18.928 33.4589 19.8812C33.4753 20.8478 33.483 21.8232 33.483 22.8072C33.483 23.5498 33.4801 24.1949 33.4753 24.7415C33.4695 25.2881 33.3261 27.992 33.3145 28.2982H33.3431H35.5346H35.5568C35.5557 28.2701 35.5453 28.2217 35.5276 28.157C35.4668 26.9211 35.4335 26.1737 35.4284 25.3312C35.4228 24.457 35.4202 23.3969 35.4202 22.8068H35.7317C35.7317 22.8068 37.2384 24.9437 37.7857 25.7561C38.3331 26.5685 39.4984 28.2982 39.4984 28.2982H42.0537C41.3394 27.4331 40.5994 26.4365 39.8001 25.3653Z" fill="#0F4272"/>
          <path d="M32.7447 5.64538C32.7433 5.64547 32.741 5.64564 32.7393 5.64572V5.64538C32.516 5.6652 28.467 5.728 28.0245 5.74139C27.582 5.728 23.533 5.6652 23.3097 5.64538V5.64572C23.308 5.64564 23.3058 5.64547 23.3043 5.64538V7.1347C23.3059 7.13444 23.3081 7.1341 23.3097 7.13375V7.1347C23.6481 7.06846 26.0806 6.63477 27.0524 6.59685C27.0639 7.1522 27.0715 7.76486 27.0772 8.44401C27.0831 9.12583 27.0849 9.84333 27.0849 10.5965C27.0849 11.709 27.0714 12.8274 27.0445 13.9514C27.0175 15.0755 26.9714 16.0895 26.9059 16.9953H29.1485C29.083 16.0895 29.0368 15.0755 29.0098 13.9514C28.9829 12.8274 28.9694 11.709 28.9694 10.5965C28.9694 9.84333 28.9713 9.12583 28.9771 8.44401C28.9829 7.76495 28.9905 7.15246 29.0019 6.59702C29.9763 6.63563 32.4015 7.06863 32.7393 7.1347V7.13375C32.7409 7.1341 32.7431 7.13444 32.7447 7.1347V5.64538Z" fill="#0F4272"/>
          <path d="M55.773 33.0972C55.3906 33.0972 54.6084 33.0939 54.6084 33.0939L54.6078 23.5255C54.6078 23.5255 55.4741 23.5247 55.6652 23.5247C56.7006 23.5247 60.8553 23.7084 60.8553 28.1911C60.8553 33.362 56.5465 33.0972 55.773 33.0972ZM56.1787 22.6639C55.794 22.6567 54.8193 22.6506 53.6012 22.6474L53.6011 22.645H52.6308C52.5777 22.6449 52.5482 22.6448 52.5482 22.6448C52.5484 22.6449 52.5486 22.645 52.5486 22.645H52.5485C52.6034 23.6281 52.6389 24.6034 52.6553 25.571C52.6717 26.5377 52.6794 27.5131 52.6794 28.4971C52.6794 29.2398 52.6765 29.8849 52.6717 30.4314C52.666 30.9703 52.5259 33.6073 52.5109 33.9742V33.9744H56.6352C61.9471 33.9744 62.9588 29.7617 62.8452 27.9913C62.5021 22.6448 56.756 22.6749 56.1787 22.6639Z" fill="#0F4272"/>
          <path d="M17.175 22.9102C15.2398 22.7693 13.7486 21.5702 13.5154 21.3324L14.1897 19.8645C14.7028 20.6775 15.9212 21.7817 17.3743 22.0092C19.0878 22.2774 20.2417 20.7334 20.0365 19.6747C19.706 17.9709 18.0434 17.8808 16.7033 17.2058C15.4429 16.5704 14.2536 15.5845 14.1731 13.9611C14.0688 11.8606 15.9063 11.0302 17.3964 11.0302C19.2902 11.0302 20.7849 12.4659 20.7849 12.4659L20.1716 13.8035C20.1716 13.8035 19.2696 11.8131 17.3877 11.8452C16.5155 11.8601 15.8549 12.6009 15.8675 13.5497C15.8836 14.7519 17.0701 15.5542 18.5046 15.9362C19.5759 16.2213 21.5407 16.9647 21.8533 19.1051C22.1919 21.4241 19.8578 23.1055 17.175 22.9102Z" fill="#0F4272"/>
        </svg>
      .header-tools__wrapper 
       
        button.general-btn.general-btn--simple.header-btn(type="button" data-call-us-btn aria-label="Request a call back")
          span.laptop-mode Зворотній дзвінок
          <svg class="mobile-mode" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.46659 0.345529C2.46445 -1.13243 -0.094965 2.49771 0.00272655 4.31916C0.14772 6.95361 1.75154 9.79945 3.97636 12.0242C6.20113 14.249 9.04699 15.8528 11.6814 15.9979C13.4996 16.0987 17.1329 13.5405 15.656 12.535C15.656 12.535 15.6467 12.5284 15.6434 12.5252L12.2713 10.4324C12.2272 10.4041 11.8454 10.2056 11.7918 10.1961C10.9284 10.0325 10.0998 10.8898 9.14823 11.5389C9.02848 11.6208 8.82995 11.6895 8.7039 11.617C7.69238 11.0372 7.07125 10.5146 6.27714 9.72053C5.48299 8.9264 4.95953 8.30849 4.37968 7.29377C4.30745 7.16771 4.38005 6.9691 4.45878 6.84944C5.10789 5.89472 5.96518 5.06922 5.80155 4.20588C5.7921 4.15546 5.59044 3.77051 5.56523 3.72639L3.47538 0.358224C3.47538 0.358224 3.46983 0.348967 3.46659 0.345529Z" fill="#0F4272"/>
          </svg>
        a(href="/").general-btn.header-flat-btn
          span.laptop-mode Обрати квартиру
          <svg class="mobile-mode" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2.10547 1.25194C1.63487 1.2502 1.25206 1.63194 1.25195 2.10253V15.874C1.25205 16.3432 1.63236 16.7234 2.10156 16.7236H5.25195V21.9023C5.25206 22.3711 5.63183 22.7511 6.10059 22.7519L19.8984 22.7773C20.3684 22.7781 20.75 22.3977 20.75 21.9277V12.75H21.9092C22.3785 12.7497 22.759 12.3688 22.7588 11.8994L22.752 2.10155L22.748 2.01464C22.7071 1.61438 22.3877 1.29682 21.9873 1.25683L21.9004 1.25194L9.00098 1.27831L2.10547 1.25194ZM21.2588 11.25H16.5C16.086 11.2501 15.7501 11.5859 15.75 12C15.7501 12.414 16.086 12.7499 16.5 12.75H19.25V21.2754L6.75195 21.2529V16.7295L8.99414 16.75L9.75 16.7558V12.75H11C11.414 12.7498 11.7499 12.414 11.75 12C11.7499 11.586 11.414 11.2501 11 11.25H9.75V9.99999C9.74989 9.58596 9.41402 9.25014 9 9.24999C8.58596 9.25012 8.25011 9.58595 8.25 9.99999V15.2432L6.00879 15.2236H2.75195V2.7539L8.25 2.77538V4.49999C8.2501 4.91404 8.58596 5.24986 9 5.24999C9.41403 5.24984 9.7499 4.91403 9.75 4.49999V2.77636L21.252 2.75292L21.2588 11.25Z" fill="white"/>
          </svg>
        button.general-btn.general-btn--simple.header-btn.menu-btn(data-menu-button)
          span.laptop-mode Меню
          .menu-burger
            span.over 
            span.middle
            span.under  
        


    .overflow(data-call-us__overflow data-lenis-prevent).hidden
      .modal-form(data-call-us-modal)
        .close-btn(data-call-us-modal-close) 
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M8.2959 7.14258L11.6709 10.5176L15.0459 7.14258L16.1064 8.20312L12.7314 11.5781L16.1064 14.9531L15.0459 16.0137L11.6709 12.6387L8.2959 16.0137L7.23535 14.9531L10.6104 11.5781L7.23535 8.20312L8.2959 7.14258Z" fill="#0F4272"/>
          </svg>
        h3.form-title  Залишились запитання?
        p.form-descr Ми готові дати відповідь!
        +form
    




    .menu-overlay.hidden(data-menu)
      .close-btn(data-menu-close)
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M8.2959 7.14258L11.6709 10.5176L15.0459 7.14258L16.1064 8.20312L12.7314 11.5781L16.1064 14.9531L15.0459 16.0137L11.6709 12.6387L8.2959 16.0137L7.23535 14.9531L10.6104 11.5781L7.23535 8.20312L8.2959 7.14258Z" fill="#0F4272"/>
        </svg>
      .menu-container
        .menu-nav-list
          a(href="/home.html").nav-link.menu-main-link
            span.real Головна
            span.fake Головна
          a(href="/3d").nav-link.menu-main-link
            span.real Спінхаус
            span.fake Спінхаус
          a(href="/about.html").nav-link.menu-main-link
            span.real про проєкт
            span.fake.flat про проєкт
          a(href="/news.html").nav-link.menu-main-link
            span.real новини
            span.fake новини
          a(href="/documents.html").nav-link.menu-main-link
            span.real документи
            span.fake документи
          //- a(href="/contacts.html").nav-link.menu-main-link
          //-   span.real КОНТАКТИ
          //-   span.fake КОНТАКТИ
        .socials-block 
          p.socials-block__title Соцмережі:
          .socials-list 
            a(href="https://www.facebook.com/InzhurBUD/" target="_blank").social-link 
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M11.8569 2.98875H13.5V0.12675C13.2165 0.08775 12.2416 0 11.1062 0C8.73715 0 7.11428 1.49025 7.11428 4.22925V6.75H4.5V9.9495H7.11428V18H10.3195V9.95025H12.8281L13.2263 6.75075H10.3188V4.5465C10.3195 3.62175 10.5685 2.98875 11.8569 2.98875Z" fill="#F6F4EB"/>
              </svg>
            a(href="https://www.instagram.com/inzhur_bud/" target="_blank").social-link
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M9.00293 0.75C11.1527 0.75 11.4285 0.75924 12.2832 0.799805C13.1563 0.838349 13.7679 0.980616 14.3086 1.18945C14.8779 1.40397 15.3965 1.74174 15.8252 2.17578L15.5879 2.41797L15.8291 2.18066L15.8271 2.17773C16.2666 2.60769 16.6016 3.12478 16.8193 3.7002C17.0285 4.23856 17.1705 4.85293 17.209 5.72559C17.2464 6.57777 17.25 6.8542 17.25 9.00195C17.25 11.1515 17.2405 11.4262 17.2031 12.2773C17.1646 13.1512 17.0224 13.7628 16.8135 14.3037C16.3679 15.4559 15.4561 16.3669 14.3037 16.8125C13.765 17.022 13.15 17.1646 12.2764 17.2031C11.425 17.2406 11.1502 17.25 9 17.25C6.84981 17.25 6.57489 17.2406 5.72363 17.2031C4.85018 17.1646 4.23908 17.0223 3.69824 16.8135C3.12784 16.5986 2.60792 16.2604 2.17871 15.8252L2.18066 15.8262L2.41797 15.585L2.17676 15.8223C1.74278 15.3939 1.40433 14.8791 1.18652 14.3037C0.977293 13.7653 0.835371 13.1503 0.796875 12.2773C0.759481 11.4262 0.750001 11.1515 0.75 9.00195C0.75 6.85262 0.759232 6.57626 0.799805 5.72168C0.838381 4.84886 0.980612 4.23787 1.18945 3.69727C1.40441 3.12724 1.74262 2.60779 2.17773 2.17871L2.17578 2.18164L2.41797 2.41797L2.18066 2.17676L2.17773 2.17871C2.60769 1.73942 3.12468 1.40424 3.7002 1.18652C4.23853 0.97748 4.85359 0.835377 5.72656 0.796875C6.57788 0.759487 6.85277 0.75 9.00293 0.75ZM9 5.09375C6.84264 5.09385 5.09277 6.84445 5.09277 9.00195C5.09294 11.1593 6.84274 12.9091 9 12.9092C11.1575 12.9092 12.908 11.1594 12.9082 9.00195C12.9082 6.84439 11.1576 5.09375 9 5.09375ZM13.7764 2.48438C12.8173 2.48438 12.04 3.26231 12.04 4.22168C12.0403 5.18063 12.8174 5.95801 13.7764 5.95801C14.7354 5.95798 15.5134 5.18065 15.5137 4.22168C15.5137 3.26229 14.7355 2.48441 13.7764 2.48438Z" fill="#F6F4EB"/>
              </svg>

            a(href="https://www.youtube.com/" target="_blank").social-link
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M9.00293 2.25C9.03891 2.25014 12.6331 2.27397 15.0127 2.44531L15.0439 2.44824C15.0706 2.45176 15.1003 2.45533 15.1328 2.45898C15.5276 2.50345 16.3491 2.59599 17.0732 3.35938C17.6992 4.00783 17.8507 5.28231 17.8662 5.42773L17.8672 5.43652C17.8729 5.49984 17.9999 6.91891 18 8.34375V9.67773C18 11.1026 17.8729 12.5217 17.8672 12.585L17.8652 12.6035C17.8476 12.7441 17.6747 13.9926 17.0781 14.6348C16.3623 15.4145 15.5552 15.4992 15.167 15.54C15.1299 15.5438 15.0955 15.5478 15.0654 15.5518L15.0342 15.5547C12.6623 15.7255 9.08432 15.7497 9.02539 15.75H9.01367C8.82717 15.7474 4.52272 15.6831 3.14941 15.5537L3.10742 15.5479C3.06446 15.5404 3.0016 15.5337 2.92871 15.5254C2.46566 15.4729 1.60468 15.3754 0.923828 14.6377C0.300847 13.989 0.149291 12.738 0.133789 12.5947L0.132812 12.585C0.126997 12.52 7.38011e-06 11.1017 0 9.67773V8.34375C7.32852e-06 6.91883 0.12716 5.49954 0.132812 5.43652L0.134766 5.41797C0.15255 5.27715 0.324469 4.02873 0.920898 3.38672C1.64689 2.59591 2.4592 2.50262 2.84961 2.45801C2.88023 2.45447 2.90903 2.45164 2.93457 2.44824L2.96582 2.44531C5.36686 2.27397 8.96109 2.25014 8.99707 2.25H9.00293ZM7.68359 6.30566C7.44303 6.18561 7.15866 6.18994 6.92285 6.31738C6.68665 6.4453 6.5459 6.67205 6.5459 6.92285V11.0742C6.54601 11.3236 6.68556 11.5487 6.91992 11.6768C7.04243 11.7436 7.17835 11.7773 7.31445 11.7773C7.43909 11.7773 7.56376 11.7489 7.67871 11.6924L11.8682 9.63574C12.1167 9.51348 12.2713 9.27656 12.2725 9.01855C12.2734 8.76059 12.1199 8.52332 11.8721 8.39941L7.68359 6.30566Z" fill="#F6F4EB"/>
              </svg>
      


        
    .overflow(data-mob-call__overflow).container.hidden
      a.general-btn(href="tel:+380777077040") 
        span Виклик +38 (077) 707 70 40
      button.general-btn(data-call-us-btn)
        span Замовити зворотній дзвінок
      button.general-btn(data-mob-call-close)
        span Cкасувати
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
          <path d="M4.91797 5.24512L0.944336 1.27148L1.65234 0.564453L5.625 4.53809L9.59766 0.565429L10.3047 1.27246L6.33203 5.24512L10.3115 9.22461L9.60449 9.93164L5.625 5.95215L1.64453 9.93262L0.9375 9.22559L4.91797 5.24512Z" fill="#F4F5F9"/>
        </svg>




  
