extends /../index.pug

block variable
  -
    var title_page = '404'
    var id_page = 'id-page-404'

block meta
  title= title_page
  meta(name='description', content='')

block header
  +header() 

block content
  section.notFound.container
    .bg-img 
      img(loading="lazy" src="/src/shared/images/404.jpg", alt="grass")
    .notFound__block 
      p.section-title СХОЖЕ, СТОРІНКА ВИРІШИЛА ВІДПОЧИТИ НА ГАЛЯВИНІ
      .notFound__subblock 
        h2 404
        .slogan__wrap 
          .slogan__img-wrap 
            <svg xmlns="http://www.w3.org/2000/svg" width="74" height="74" viewBox="0 0 74 74" fill="none">
              <path d="M28.8346 52.3649L15.9636 54.4645C14.777 55.2068 9.69269 65.092 8.18517 68.1769L7.52631 67.0859L7.45198 63.8994C10.64 57.9705 13.5176 55.6926 13.3309 52.6036L12.4619 39.69C12.4597 39.6492 12.4704 38.2668 12.4896 38.057C12.6157 36.6136 12.503 37.7066 12.7397 36.478L15.0232 30.8775C20.1087 22.7269 22.0107 22.5662 28.386 20.1565C29.929 19.5742 30.3488 19.3146 31.9849 18.94C40.9346 16.8906 41.3295 9.96268 46.6631 12.9628C49.7754 14.7127 47.5743 14.6028 52.3564 14.8359C56.4225 15.034 60.0978 16.6781 64.1834 16.8436C65.1759 20.3121 66.5139 27.9997 65.4945 32.3224L64.8434 34.2154C63.5451 37.161 60.8476 39.0442 58.8451 41.3852L55.5891 44.5822C52.1641 46.7942 41.5249 53.141 37.3666 52.7716C34.4003 52.5078 31.9727 51.8978 28.8346 52.3649Z" fill="#F6F4EB"/>
            </svg>
          p.slogan__text Іноді навіть сторінкам потрібна тиша, щоб повернутись сильнішими
    .notFound__img-block 
      .notFound__text-block 
        p Не хвилюйтесь, це ненадовго — ми вже працюємо, щоб сторінка якнайшвидше повернулась
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.47143 3.21117L3.63947 3.30863C3.79531 3.11517 3.77395 3.15073 4.01962 3.12517C4.31144 3.09537 4.28746 3.19556 4.45912 2.98452C4.86613 3.22059 4.88415 3.17626 5.18686 3.04338L6.61434 3.79858C7.01809 4.03274 7.13898 4.17555 7.52745 4.40087C7.56975 4.19533 7.69742 4.39515 7.42859 4.19811C7.58293 3.95814 7.47707 3.84322 7.51404 3.59234L7.56766 2.90326C7.56934 2.88901 7.56889 2.87108 7.57055 2.85685C7.57373 2.83095 7.57246 2.77701 7.58787 2.71807C7.63712 2.52966 7.68697 2.53369 7.74879 2.36536C7.81382 2.18967 7.7717 2.28548 7.78258 2.22193C7.93598 1.37769 8.27265 1.42727 8.58362 1.08349L9.97451 0.19965L10.6377 0.00479126C10.6509 0.00290298 10.6697 0.00157738 10.6837 0.000761032L10.9209 0C11.1862 0.0114651 11.5656 0.220573 11.7691 0.40502C12.0227 0.63505 11.7035 0.37652 11.9654 0.675201C12.0771 0.802032 12.1302 0.803379 12.2329 0.93013C12.242 0.941654 12.2519 0.956503 12.2606 0.968531L12.415 1.20376L12.8613 0.903563C12.8744 0.8971 12.8912 0.889624 12.9033 0.882519L13.3192 0.650425C13.5171 0.580275 13.4929 0.666912 13.6534 0.468512C13.9618 0.615643 14.0832 0.704109 14.2698 0.46279L15.6633 1.27095C15.634 1.43296 15.6318 1.30361 15.6908 1.44485L15.7954 1.60138C16.0744 1.90364 16.1802 1.95587 16.3915 2.32145L16.5312 2.60507C16.5954 2.76391 16.5433 2.6235 16.5815 2.7738C16.7354 3.37313 16.6277 3.25644 16.6768 3.69955L16.7002 4.2806C16.671 4.59392 16.5664 4.66798 16.5938 4.98181L16.6096 5.11343C16.6079 5.30241 16.488 5.40031 16.3936 5.88492C16.3289 6.22545 15.7558 6.78114 15.8989 7.12706C15.9697 7.29887 15.7948 7.13045 16.061 7.31528C16.2273 7.0684 16.2 7.14577 16.4201 7.04806L17.2279 6.67258C17.2406 6.66684 17.2578 6.65876 17.2695 6.65216C17.2824 6.64613 17.2988 6.63687 17.3119 6.6305C17.3811 6.59512 17.3629 6.59778 17.4371 6.56158L17.6077 6.48738C17.6203 6.48174 17.6383 6.47477 17.6509 6.46906C17.6637 6.46321 17.681 6.4549 17.6938 6.44896C17.8661 6.36748 17.8889 6.29704 18.1066 6.39415C18.2124 6.23896 18.3013 6.21254 18.4726 6.15113C18.7228 6.06033 18.6112 5.98923 18.8932 6.12377L18.9954 5.9649C19.2421 6.07514 19.1996 6.01089 19.4202 5.95205L19.5971 5.90296C19.6106 5.90055 19.6291 5.89508 19.6423 5.89309L20.0479 5.994L20.15 5.83524C20.4304 5.99787 20.59 6.03863 20.8779 6.08172C20.9274 6.08908 20.9667 6.09554 21.0264 6.10496C21.4242 6.16764 21.0481 5.99275 21.8251 6.44341C22.0769 6.58941 21.7983 6.42971 21.9446 6.59648L22.224 6.89325C22.4072 7.11361 22.7695 7.29644 22.9109 7.50267C23.075 7.74198 22.8303 7.60771 23.2806 7.86891L23.1786 8.02764C23.383 8.17754 23.2686 8.05824 23.336 8.21701C23.4308 8.44001 23.3553 8.35852 23.3205 8.53654C23.2928 8.67795 23.2936 8.75956 23.3955 8.88024L22.919 9.62127C22.7426 9.59338 22.6128 9.69993 22.4918 9.80947C22.7816 10.0108 22.5205 9.97506 22.9766 10.2396C23.2746 10.4125 23.3704 10.4191 23.5384 10.6522C23.6676 10.8311 23.8099 10.8915 23.8471 11.1226C23.8774 11.3097 23.7837 11.3457 23.8931 11.5182C23.937 11.5872 23.8662 11.5309 24 11.629C23.9424 11.7185 23.887 11.7914 23.8481 11.8895C23.7866 12.0445 23.8386 12.1493 23.7765 12.312C23.7061 12.497 23.5902 12.5886 23.5379 12.7728C23.2994 13.6116 23.1628 13.3784 22.8062 13.8451C22.5466 14.1849 22.2592 14.3763 21.8451 14.5489C21.7791 14.5765 21.6528 14.6156 21.5807 14.6301L21.3072 14.6754C20.3973 14.8636 20.7381 14.8198 19.7825 14.8447C19.5499 14.8508 19.6006 14.9028 19.3656 14.8866L17.8044 14.7262C17.7901 14.7255 17.7715 14.7282 17.7573 14.7275L17.3066 14.637C17.1505 14.62 17.3215 14.7102 17.0158 14.6139C16.8547 14.5631 16.8882 14.5325 16.6995 14.4916L16.5532 14.4766C16.3398 14.4627 16.3471 14.4464 16.1468 14.5594C16.4415 14.7755 16.1644 14.5846 16.3112 14.7471L16.4183 14.858C16.4303 14.8706 16.4446 14.8817 16.4562 14.8944L17.626 16.5208C17.8762 16.8855 17.7896 16.9656 18.1413 17.1696L18.0391 17.3284C18.3422 17.5506 18.1856 17.9535 18.5471 18.2044L18.445 18.3632C18.6539 18.5163 18.7366 19.3022 18.7409 19.5585L18.7304 19.8767C18.7244 20.1928 18.6446 20.5858 18.5152 20.8736L18.4178 21.2118C18.3325 21.4959 18.0759 21.8691 17.8754 22.099L17.6008 22.3264C17.5317 22.3949 17.5176 22.4394 17.4547 22.4992L17.2916 22.6052C17.2793 22.6119 17.2609 22.6157 17.2486 22.6227L16.5796 23.1677L15.6296 22.9966C15.1065 22.815 15.1139 22.5827 14.8055 22.3567L13.8864 23.7858C13.7285 23.7766 13.676 23.7687 13.5204 23.8409L13.1771 23.9854C12.8902 24.0418 12.8433 23.9183 12.5843 23.8965C12.2596 23.8691 12.263 23.9142 11.9263 23.7379L11.5143 23.6126C10.9556 23.4657 10.2658 23.0474 9.89917 22.6255C9.88894 22.6134 9.8783 22.5997 9.8667 22.5874L9.70697 22.4444C9.45704 22.2134 9.59246 22.3033 9.47955 22.0899C9.37311 21.8873 9.27045 21.9677 9.41273 21.6999C9.19 21.5453 9.23443 21.4064 9.17018 21.1685L9.12714 20.8627C9.11312 20.6212 9.24837 20.7627 8.98426 20.5793C9.08625 20.3741 8.98395 20.1605 8.944 19.957C8.89772 19.7214 8.82994 19.5519 8.95072 19.3245L8.78268 19.2271C8.88883 19.0271 8.83771 18.6663 8.6871 18.6628C8.40362 18.6564 8.30954 19.0915 7.9881 19.2768C7.97584 19.2842 7.95897 19.2918 7.94659 19.2994L7.1325 20.0225C6.85224 20.286 6.38011 20.2886 6.14012 20.6013L5.97207 20.5038C5.77508 20.7472 5.96576 20.6044 5.77168 20.6477C5.57249 20.6918 5.82398 20.741 5.52361 20.6071L5.42152 20.7658C5.26202 20.6947 5.2455 20.7273 5.07878 20.7257L3.88777 20.5276C3.42023 20.4835 3.71675 20.5792 3.04037 20.1843C2.7441 20.0113 2.44565 19.8394 2.14887 19.6672C2.26143 19.4386 2.18949 19.5575 2.19103 19.4316L2.18504 19.3431C2.18451 19.3299 2.18127 19.3117 2.18078 19.2985C2.17371 19.1278 2.14864 19.1038 2.24397 18.923L2.07703 18.8261C2.17879 18.6679 2.15274 18.7224 2.18883 18.5754C2.19269 18.5554 2.19771 18.501 2.20109 18.4818L2.27303 18.1043C2.31273 17.8632 2.17777 18.0754 2.44553 17.6591L2.05487 17.4325C1.95776 17.5066 2.01871 17.4794 1.93193 17.5072C1.67227 17.5895 1.41201 17.3302 1.16371 17.29C0.957543 17.2565 0.989456 17.3233 0.813762 17.2215C0.675187 17.1411 0.424436 16.7669 0.431917 16.4966C0.438394 16.2816 0.373687 16.2378 0.295945 16.0767C0.213673 15.9065 0.277355 15.7795 0.286865 15.583C0.286906 15.569 0.286517 15.551 0.287583 15.5376L0.283217 15.223C0.281167 15.2098 0.277704 15.1919 0.27549 15.179C0.273235 15.1662 0.268091 15.1486 0.265795 15.1359C0.264566 15.1238 0.257884 15.1063 0.255629 15.0934C0.234375 14.9448 0.229927 15.0472 0.249377 14.9145C0.26682 14.7942 0.313675 14.6607 0.335216 14.534L0.737352 13.4009C0.905872 13.1761 0.863425 13.3167 1.05472 13.1287C1.18138 13.0039 1.26507 12.8598 1.34896 12.79L2.00265 12.3722C2.26024 12.2675 2.11099 12.4507 2.3228 12.1376L2.48976 12.2344C2.63944 12.0412 2.65516 12.096 2.8177 11.8433C1.96329 11.3478 2.16805 11.6118 1.96946 11.4966L1.07796 10.9795C0.860821 10.8536 1.11329 10.9269 0.852398 10.7153C0.588611 10.5011 0.519764 10.4824 0.335564 10.2027C0.249234 10.0714 0.180059 10.0228 0 9.91842C0.126544 9.72163 0.131996 9.6666 0.121993 9.43986L0.0959428 9.21945C0.0488835 8.97349 0.10035 8.75834 0.0997759 8.54257C0.0986896 8.47437 0.093791 8.50995 0.105781 8.4051C0.143371 8.09738 0.0442307 8.02322 0.069769 7.73657C0.0713062 7.72252 0.0739098 7.70451 0.0755085 7.69038C0.116644 7.30491 0.0904706 7.0288 0.406871 6.66723L0.650366 6.50058C1.12453 6.28515 1.38899 6.44935 1.70145 5.96344L1.53451 5.8666L1.67065 5.65491C1.36105 5.42811 1.67815 5.58968 1.69393 5.11083L1.67922 4.56992C1.89559 4.36161 1.87497 4.33545 2.07553 4.07017C2.20751 3.89289 2.33639 3.86722 2.52212 3.77176C2.53411 3.76477 2.55143 3.75644 2.5634 3.74948L3.10698 3.45634C3.11959 3.45071 3.13736 3.44408 3.14996 3.43845C3.34431 3.35057 3.33131 3.39407 3.47143 3.21117Z" fill="white"/>
        </svg>
      .notFound__btns-wrap 
        a(href="/").general-btn
          span  На головну
        a(href="/").general-btn
          span  Повернутися назад

      
        



block scripts
  script(type="module" src="/src/pages/404/404.js")
